<nav class="cCC-bg-main cCC-text-white">
    <!-- Navbar Container -->
    <div class="container px-0">
        <!-- Navbar Content -->
        <div class="d-flex justify-content-between align-items-center py-2">
            <!-- E-commerce logo -->
            <h2 class="logo">Market</h2>
            <!-- E-commerce Pages -->
            <ul class="d-flex gap-5 m-0 cCC-text-white ucc-Click">
                <!-- Products Page -->
                <li routerLink="/products">Products</li>
                <!-- Cart Page -->
                <li routerLink="/cart">cart</li>
            </ul>
        </div>
    </div>
</nav>