$main:#c0392b;
$white:#fff;
$support1:#eee;
$pink:#f1b4b4;
// START background Colors
.cCC-bg-main {
    background-color: $main;
}
.cCC-bg-white {
    background-color: $white;
}
.cCC-bg-support1 {
    background-color: $support1;
}
.cCC-bg-pink {
    background-color: $pink;
}

// START text colors
.cCC-text-main {
    color: $main;
}
.cCC-text-white {
    color: $white
}